<h2>Gallery</h2>

<table [cellPadding]="40">
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/992347344/photo/indian-freighter-ship-with-cargo-containers-sailing-in-ocean.jpg?s=612x612&w=0&k=20&c=tyNeJ-rqb7GaY95Xk48PgbKQGp8LgktXwQJ3JD_6zyg="
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">TI Oceania</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>

        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/104241367/photo/cruise-ship.jpg?s=612x612&w=0&k=20&c=so7ce3cN0vhkKqIL38muc7rPqkp6WyNXWiWzuXH-mD4="
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cruise Ship </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://static-ai.asianetnews.com/images/01h3kenrsms67h1mz1ppmftry4/titanic-facts-hindi-1687501333300_1200x900xt.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Titanic</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>

        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.britannica.com/78/196578-131-B0FC5325/harbor-Pirate-Ship-way-campaign-marines-oceans.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.britannica.com/78/196578-131-B0FC5325/harbor-Pirate-Ship-way-campaign-marines-oceans.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>

        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/508887949/photo/cargo-ship-in-the-harbor-at-sunset.jpg?s=612x612&w=0&k=20&c=Uqitx1Kr5ESvDNfiU0_031GuDrA1wn6aTQbtyIxDbrA="
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">MS Riviera</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/1075953222/photo/aerial-view-of-cargo-ship-in-transit.webp?b=1&s=170667a&w=0&k=20&c=jy1pZ-StlN9I9Uvz9-ApFzd-G4iizSXNAz8oUXIAm8o="
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">MS Regatta</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>

        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1605745341112-85968b19335b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29udGFpbmVyJTIwc2hpcHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Oceania</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>
    </tr>
</table>