<h2 style=" text-align: center;">Add Student</h2>
<div class="container">
  <form #studentForm="ngForm" (ngSubmit)="onSubmit2(studentForm.value)">
    <div class="form-group">
      <label for="name">Fist Name:</label>
      <input type="text" id="name" name="firstName" class="form-control" [(ngModel)]="student.firstName" required>
    </div>
    <div class="form-group">
      <label for="name">Last Name:</label>
      <input type="text" id="name" name="lastName" class="form-control" [(ngModel)]="student.lastName" required>
    </div>
    <!-- <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" id="age" name="age" class="form-control" [(ngModel)]="student.age" required>
    </div>
    <div class="form-group">
      <label for="dob">Date of Birth:</label>
      <input type="date" id="dob" name="dob" class="form-control" [(ngModel)]="student.dob" required>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


<!-- <h2>Example2</h2>
<form #testForm="ngForm" (ngSubmit)="login(testForm.value)">
  <input type="text" name="name" [(ngModel)]="student.name">
  <button type="submit">Save</button>
</form> -->
